.ser_category_list{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Category_List_Page{
    display: grid;
    grid-template-rows:1fr auto;
    gap: 10px;
    border: 1px solid #dbb7a6;
    border-radius: 25px;
    background-color: #dbb7a6;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: auto;
    margin-top: 100px;
}

.Category_List_Welcom{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #a34a12;
}

.category_list{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
}

.category_table{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.category_table .category_header{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    background-color: #f4ebe5;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #f4ebe5;
}

.category_table .table_row{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    padding: 10px;
    border-bottom: 1px solid #f4ebe5;
    align-items: center;
}

.category_table .table_row:nth-child(odd) {
    background-color: #f4ebe5;
}

.category_table .actions {
    display: flex;
    gap: 10px;
}

.category_table button {
    padding: 5px 10px;
    border: none;
    background-color: #a54912;
    border: 1px solid #f4ebe5;
    color: #f4ebe5;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

.category_table button:hover {
    background-color: #f4ebe5;
    border: 1px solid #a54912;
    color: #a54912;
}


.category_table a {
    text-decoration: none;
}

.category_table p {
    margin: 0; 
    overflow-wrap: break-word;
}

.button_div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add_button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f4ebe5;
    border: 2px solid #a54912;
    font-size: 20px;
    text-decoration: none;
    color: #a54912;
    margin: 5px;
}

.add_button:hover{
    background-color: #a54912;
    border: 2px solid #f4ebe5;
    color: #f4ebe5;
}