.Registration_Page_Div_Layout{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Registration_Page_Div_Page{
    display: grid;
    grid-template-rows:1fr 4fr;
    gap: 10px;
    margin-top: 100px;
    width: 600px;
    height: 600px;
    background-color: #dbb7a6;
    border-radius: 25px;
    border: 1px solid #dbb7a6;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.register_welcome{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #a34a12;
    font-weight: bolder;
}

.register_form{
    grid-row: 2;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 2fr;
    gap: 10px;
}

.first_name_div{
    grid-row: 1;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 40px;
}

.first_name_label{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #a34a12;
    font-weight: bold;
}

.frist_name_input{
    grid-row: 1;
    grid-column: 2;
    height: 25px;
    width: 200px;
}

.frist_name_p{
    grid-row: 2;
    grid-column:1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last_name_div{
    grid-row: 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 40px;
}

.last_name_label{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #a34a12;
    font-weight: bold;
}

.last_name_input{
    grid-row: 1;
    grid-column: 2;
    height: 25px;
    width: 200px;
}

.last_name_p{
    grid-row: 2;
    grid-column:1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_name_div{
    grid-row: 3;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 40px;
}

.email_name_label{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #a34a12;
    font-weight: bold;
}

.email_name_input{
    grid-row: 1;
    grid-column: 2;
    height: 25px;
    width: 200px;
}

.email_name_p{
    grid-row: 2;
    grid-column:1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password_name_div{
    grid-row: 4;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 40px;
}

.password_name_label{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #a34a12;
    font-weight: bold;
}

.password_name_input{
    grid-row: 1;
    grid-column: 2;
    height: 25px;
    width: 200px;
}

.password_name_p{
    grid-row: 2;
    grid-column:1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repet_password_name_div{
    grid-row: 5;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 40px;
}

.repet_password_name_label{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #a34a12;
    font-weight: bold;
}

.repet_password_name_input{
    grid-row: 1;
    grid-column: 2;
    height: 25px;
    width: 200px;
}

.repet_password_name_p{
    grid-row: 2;
    grid-column:1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_layout_registration{
    grid-row: 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sing_up_button{
    background-color: #f4ebe5;
    border: 2px solid #a54912;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #a54912;
    width: 200px;
    height: 70px;
}

.sing_up_button:hover{
    background-color: #a54912;
    border: 2px solid #f4ebe5;
    color: #f4ebe5;
}

.go_back_button{
    background-color: #a54912;
    border: 2px solid #f4ebe5;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #f4ebe5;
    width: 200px;
    height: 70px;
}

.go_back_button:hover{
    background-color: #f4ebe5;
    border: 2px solid #a54912;
    color: #a54912;
}